<!-- Navbar -->

      
   
<nav id="header">
  <div class="container-fluid">
      <div class="row">
          <div class="logo">
              <a href="/">
                  <img src="http://139.59.59.46/images/afm_logo.png"  class="mainLogo" />
              </a>
          </div>
          <!-- <div ng-hide="!loggedIn">
                  <div class="loginPanel">
              <ul>
                  <li><button ng-click="signOut()">Sign Out</button></li>
              </ul>
              </div>
          </div> -->
          <div ng-hide="loggedIn" class="nav-box">
          <div class="loginPanel">
              <ul>
                  <li>
                    <button mat-raised-button>Sign In</button>
                </li>
                  <li>
                      <button class="active" mat-raised-button>Sign Up </button>
                    </li>
              </ul>
          </div>
          <div class="requestDemo">
              <button mat-raised-button color="primary" class="req_demo">Request a demo</button>
               <!-- <i class="fa fa-phone"></i> Request a demo &nbsp;
                <div class="requestLinks">
                    <button type="button">Want a demo? <strong>
                        <div class="reqIcon">
                            <img alt="" src="assets/img/salesIcon.png">
                        </div> Talk to sales</strong>
                        <span>(Free)</span></button>
                        <button type="button">Want help with specing? 
                            <strong>
                                <div class="reqIcon">
                                    <img alt="" src="assets/img/productIcon.png">
                                </div> Talk to product expert
                            </strong>
                            <span>(Refundable)</span>
                        </button>
                    </div> -->
                </div>
          <!-- <div class="becomePartner">Login as Company </div> -->
          
          </div>
      </div>
  </div>
</nav>
<!-- Navbar ends -->

