<h1 class="mat-headline">Add new banner</h1>


<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Basic Info</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- banner name -->
    <mat-form-field>
      <input matInput placeholder="Banner Name">
    </mat-form-field>

    <!-- banner type -->

    <mat-form-field>
      <mat-label>Banner type</mat-label>
      <mat-select>
        <mat-option>Web</mat-option>
        <mat-option>Sql</mat-option>
        <mat-option>Sql</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>