<h1 class="mat-headline">Add new banner</h1>

<form>
  <div class="row">

    <div class="col-md-8">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>Basic Info</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <!-- banner type -->

            <mat-form-field class="col-md-6">
              <mat-label>Banner Type</mat-label>
              <mat-select>
                <mat-option value="web">Web</mat-option>
                <mat-option value="html">Html</mat-option>
                <mat-option value="html5">Html 5</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- banner name -->
            <mat-form-field class="col-md-6">
              <input matInput placeholder="Banner Name *">
            </mat-form-field>


            <!-- Destination url -->
            <mat-form-field class="col-md-6">
              <input matInput placeholder="Destination Url *">
            </mat-form-field>

            <!-- Tracking pixel -->
            <mat-form-field class="col-md-6">
              <input matInput placeholder="Tracking pixel">
            </mat-form-field>


            <!-- Keywords -->
            <mat-form-field class="col-md-6">
              <input matInput placeholder="Keywords">
            </mat-form-field>

            <!-- Weight -->
            <mat-form-field class="col-md-6">
              <input matInput placeholder="Weight">
            </mat-form-field>

            <!-- comments -->
            <mat-form-field class="col-md-12">
              <textarea rows="5" matInput placeholder="Any Comments"></textarea>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>



    </div>

    <div class="col-md-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Size</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">

            <!-- widht -->
            <mat-form-field class="col-md-6">
              <input matInput placeholder="Width *">
            </mat-form-field>

            <!-- height -->
            <mat-form-field class="col-md-6">
              <input matInput placeholder="height *">
            </mat-form-field>
          </div>
          <!-- file upload -->
          <input type="file" placeholder="Upload File *">
        </mat-card-content>

      </mat-card>
    </div>

  </div>

  <div class="mt-4">
    <button mat-raised-button color="primary" type="submit">Add Banner</button> &nbsp;
    <button mat-raised-button type="reset">Reset</button>
  </div>

</form>
