.zone-menu-link {
  padding: 0px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 14px;
  color: #fff;
}

.zone-link-active {
  color: #fff;
  background-color: #3f51b5;
}

.zone-menu-item {
  flex-grow: 1;
  border-right: solid 1px #fff;
}

.mat-toolbar-row {
  padding: 0px;
  height: auto;
}

.bg-black {
  background-color: #000;
}
