<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Statistics</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row stat" *ngIf="dashBoard">
      <div class="col-md-3">
        <div class="stat-col">
          <div class="stat-headding">
            click
          </div>
          <div class="stat-detail">
            {{dashBoard.clicks}}
          </div>
          <div class="hr"></div>
          <div class="stat-detail">
            detail
          </div>

        </div>
      </div>
      <div class="col-md-3 ">
        <div class="stat-col">
          <div class="stat-headding">
            impression
          </div>
          <div class="stat-detail">
            {{dashBoard.impressions}}
          </div>
          <div class="hr"></div>
          <div class="stat-detail">
            detail
          </div>

        </div>
      </div>
      <div class="col-md-3 ">
        <div class="stat-col">
          <div class="stat-headding">
            request
          </div>
          <div class="stat-detail">
            {{dashBoard.requests}}
          </div>
          <div class="hr"></div>
          <div class="stat-detail">
            detail
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class=" stat-col">
          <div class="stat-headding">
            Revenue
          </div>
          <div class="stat-detail">
            {{dashBoard.revenue}}
          </div>
          <div class="hr"></div>
          <div class="stat-detail">
            detail
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
