<main class="rsp-main">
  <h1 class="login-page-title">Forgot your password?</h1>
  <div class="form-wrap">
    <form (ngSubmit)="onSubmit()" [formGroup]="rspForm">
      <div class="control-wrap">
        <label class="control-label">Email</label>
        <input formControlName="email" type="email" class="input-control">
        <aside *ngIf="rspForm.get('email').invalid && rspForm.get('email').touched" class="err">
          <div *ngIf="rspForm.get('email').errors.required">Email is requierd</div>
          <div *ngIf="rspForm.get('email').errors.email">Please enter a valid email</div>
        </aside>
      </div>

      <div class="control-wrap">
        <button [disabled]="!rspForm.valid" class="input-control-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</main>