<section class="login-wrap">
  <div class="li-container">
    <!-- branding -->
    <section class="li-box li-br">

      <form [formGroup]="UserSignupForm" (ngSubmit)="onBrandingSubmit()">

        <h3 class="si-title">Please choose your account type</h3>
        <div class="radio-control-wrap">

          <label class="input-label radio-btn">
            <input name="userType" value='3' type="radio" formControlName="userType">
            <i>Publisher</i> </label>
          <label class="input-label radio-btn">
            <input name="userType" value='2' type="radio" formControlName="userType">
            <i>Advertiser</i> </label>

          <aside *ngIf="UserSignupForm.get('userType').touched && UserSignupForm.get('userType').invalid"
            class="err">
            <div *ngIf="UserSignupForm.get('userType').errors.required">Please choose an option</div>
          </aside>
        </div>

        <section class="bg-wrap">
          <section class="bg-controls-wrap">
            <div class="row">

              <!-- first name -->
              <div class="control-wrap col-lg-6">
                <label class="control-label">First name</label>
                <input formControlName="firstName" class="input-control" autocomplete="off" type="text">

                <aside *ngIf="UserSignupForm.get('firstName').touched && UserSignupForm.get('firstName').invalid"
                  class="err">
                  <div *ngIf="UserSignupForm.get('firstName').errors.required">First Name is requierd</div>
                </aside>

              </div>

              <!-- last name -->
              <div class="control-wrap col-lg-6">
                <label class="control-label">Last name</label>
                <input formControlName="lastName" class="input-control" autocomplete="off" type="text">

                <aside *ngIf="UserSignupForm.get('lastName').touched && UserSignupForm.get('lastName').invalid"
                  class="err">
                  <div *ngIf="UserSignupForm.get('lastName').errors.required">Last Name is requierd</div>
                </aside>

              </div>

              <!-- email -->
              <div class="control-wrap col-lg-6">
                <label class="control-label">Email <span class="label-info">used as your username</span></label>
                <input formControlName="email" class="input-control" autocomplete="off" type="email">

                <aside *ngIf="UserSignupForm.get('email').touched && UserSignupForm.get('email').invalid"
                  class="err">
                  <div *ngIf="UserSignupForm.get('email').errors.required">email is requierd</div>
                </aside>

              </div>

              <!-- password -->
              <div class="control-wrap col-lg-6">
                <label class="control-label">Password</label>
                <input formControlName="password" class="input-control" autocomplete="off" type="password">

                <aside *ngIf="UserSignupForm.get('password').touched && UserSignupForm.get('password').invalid"
                  class="err">
                  <div *ngIf="UserSignupForm.get('password').errors.required">Password is requierd</div>
                </aside>

              </div>

              <!-- company name -->
              <div class="control-wrap col-lg-6">
                <label class="control-label">Comapny name</label>
                <input formControlName="companyName" class="input-control" autocomplete="off" type="text">

                <aside
                  *ngIf="UserSignupForm.get('companyName').touched && UserSignupForm.get('companyName').invalid"
                  class="err">
                  <div *ngIf="UserSignupForm.get('companyName').errors.required">Company Name is requierd</div>
                </aside>

              </div>

              <!-- skype id -->
              <div class="control-wrap col-lg-6">
                <label class="control-label">SkypeId</label>
                <input formControlName="skypeId" class="input-control" autocomplete="off" type="text">

                <aside *ngIf="UserSignupForm.get('skypeId').touched && UserSignupForm.get('skypeId').invalid"
                  class="err">
                  <div *ngIf="UserSignupForm.get('skypeId').errors.required">SkypeId is requierd</div>
                </aside>

              </div>

              <!-- phone -->
              <div class="control-wrap col-lg-6">
                <label class="control-label">Phone no.</label>
                <input formControlName="phoneNo" class="input-control" autocomplete="off" type="tel">

                <aside *ngIf="UserSignupForm.get('phoneNo').touched && UserSignupForm.get('phoneNo').invalid"
                  class="err">
                  <div *ngIf="UserSignupForm.get('phoneNo').errors.required">phoneNo is requierd</div>
                </aside>

              </div>

              <div class="control-wrap sbmt-btn-wrap col-12">
                <button class="input-control-btn sbmt-btn" type="submit" [disabled]="!UserSignupForm.valid">Sign
                  Up</button>
              </div>

            </div>

            <div class="login-link">
              Already has an account ?
              <a class="signup" [routerLink]="['/login']">signin</a> here.
            </div>
          </section>

        </section>

      </form>
    </section>
  </div>
</section>
