<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="container-box">
    <div class="breadcrums">
      <ul>
        <li>Home</li>
        <li><mat-icon>keyboard_arrow_right</mat-icon></li>
        <li class="active">Employee</li>
      </ul>
    </div>
    <div class="sectionContentMain">
      <div class="sectionContent">
        <h3>We know all your campaigns are much important for you than us.<img src="assets/img/Orion_smile-emoji.svg" /></h3>
        <div class="employee-btn">
        <a mat-raised-button color="primary" routerLink="../add-employee">Add Employee</a>
      </div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
     
        <td mat-cell *matCellDef="let lstEmployee"> {{lstEmployee.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> User Name </th>
        <td mat-cell *matCellDef="let lstEmployee"> {{lstEmployee.username}} </td>
      </ng-container>
  
      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let lstEmployee"> {{lstEmployee.email}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let lstEmployee">
          <button mat-raised-button color="warn" (click)="delete(lstEmployee.id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="message" *ngIf=isValid>
      {{message}}
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    </div>
  </div>
  </div>