<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="container-box">
  <div class="breadcrums">
    <ul>
      <li>Home</li>
      <li><mat-icon>keyboard_arrow_right</mat-icon></li>
      <li class="active">Advertiser</li>
    </ul>
  </div>
  <div class="sectionContentMain">
    <div class="sectionContent">
      <h3>Add Advertiser <img src="assets/img/Orion_smile-emoji.svg" /></h3>
      <div class="afmCard">
        <form name="addAdvertiserForm" ng-submit="creatForm()">
          <div class="form-group">
            <!-- <input type="email" name="email" id="email" ng-model-options="{ debounce: { default: 500, blur: 0 } }" class="form-control" ng-model="addPublisherPayload.email" required> -->
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                type="email"
                name="email"
                id="email"
                required
              />
            </mat-form-field>
            <!-- <label class="form-control-placeholder" for="email">Email</label> -->
            <!-- <span ng-show="addAdvertiserForm.email.$dirty && addAdvertiserForm.email.$error.email" class="error">This is not a valid email.</span>
                              <span ng-show="addAdvertiserForm.email.$dirty && addAdvertiserForm.email.$error.required" class="error">Tell us your email.</span> -->
          </div>

          <div class="text-center submitButtonarea">
            <button type="submit" class="proceedButton" mat-raised-button>
              Add Advertiser
            </button>
            <!-- <button type="submit" class="proceedButton" ng-disabled="addAdvertiserForm.$invalid" ng-click="addAdvertiser()">Add Advertiser</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
