.mat-form-field.mff-100 {
  width: 100%;
}
.mat-card-header-text {
  margin: 0 !important;
}
.bran-checkbox {
  margin-right: 10px;
}
table.mat-table {
  width: 100%;
}
span.toolbar-saparater {
  flex: 1 0 auto;
}
fieldset {
  border: 0 none;
  padding: 0;
  margin: 0;
}
