<h1 class="mat-headline">All Zone</h1>


<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div *ngIf="dataSource" class="">
  <table mat-table [dataSource]="dataSource" matSort>
    <!--zone name  -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row">
        <a mat-button matTooltip="Edit {{row.zoneName}}" [matTooltipPosition]="'above'" color="primary"
          [routerLink]="['/branding/zone/edit-zone/', row.affiliateId,row.zoneId]" mat-button>{{row.zoneName}}</a>

    </ng-container>
    <!--zone size  -->

    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
      <td mat-cell *matCellDef="let row">{{row.width }}x{{row.height}}</td>
    </ng-container>
    <!--zone type  -->

    <ng-container matColumnDef="zone-Type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Zone Type </th>
      <td mat-cell *matCellDef="let row">{{row.delivery }} </td>
    </ng-container>
    <!--zone description  -->

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let row">{{row.description}} </td>
    </ng-container>
    <!--zone action  -->

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">
        <!-- /zone/edit-zone/19/18/linked-banner/ -->
        <a [routerLink]="['/branding/zone/edit-zone/', row.affiliateId,row.zoneId,'linked-banner']" mat-button
          color="primary">Linked
          Banner</a>
        <a [routerLink]="['/branding/zone/edit-zone/', row.affiliateId,row.zoneId,'probabilty']" mat-button
          color="accent">Probability</a>
        <a [routerLink]="['/branding/zone/edit-zone/', row.affiliateId,row.zoneId,'invocation-code']" mat-button
          color="warn">Invocation Code</a>
        <button matTooltip="Delete {{row.zoneName}}" [matTooltipPosition]="'above'" color="warn"
          (click)="deleteZone(row.zoneId)" mat-button><i class="material-icons">
            delete
          </i></button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>
