<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="container-box">

<div class="breadcrums">
  <ul>
      <li>Home</li>
      <li><mat-icon>keyboard_arrow_right</mat-icon></li>
      <li class="active">All Campaigns</li>
  </ul>
</div>

<div class="sectionContentMain">
     
      <div  class="sectionContent">
            <h3>Update Redirection. </h3>
        <div class="afmCard">
          <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                    <input matInput type="number" placeholder="Prority" />
                  </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                    <mat-select placeholder="Publisher">
                      <mat-option value="option">Publisher Name</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-sm-12">
                <mat-form-field>
                    <mat-select placeholder="Campaign">
                      <mat-option value="option">Campaign Name</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-sm-4">
                <mat-form-field>
                    <mat-select placeholder="City">
                      <mat-option value="option">City Name</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-sm-4">
                <mat-form-field>
                    <mat-select placeholder="Device">
                      <mat-option value="option">Device Name</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>

              <div class="col-sm-4">
                <mat-form-field>
                    <mat-select placeholder="Operator">
                      <mat-option value="option">Operator Name</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>

            </div>

            <button mat-raised-button class="proceedButton" color="primary">
                    Update
                   </button>
          </div>
      </div>
      
     
  </div>
 </div>